.App {
  color: #27233a;
  background-color: #93e1d8;
  padding: 30px;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
}

.today {
  margin: 20px;
  display: block;
  padding: 20px;
  background-color: #ddfff7;
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
}

.today-button {
  margin: 20px;
}

.goal-card {
  padding: 20px;
  margin: 30px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: x-large;
  font-weight: bold;
  background-color: #ddfff7;
  text-align: center;
  color: #364652;
}

.add-goal-button {
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.money-card {
  padding: 20px;
  margin: 30px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: x-large;
  font-weight: bold;
  background-color: #ddfff7;
  text-align: center;
  color: rgb(19, 104, 2);
}

.invest-button {
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.progress-div {
  margin: 0px;
}

.progress-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
}
